* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16px;
    color: #110962;
    font-family: "Roboto Slab", sans-serif;
}

/*
    Color Reference: https://mycolor.space/?hex=%23110962&sub=1
    Box-Shadow Reference: https://css-tricks.com/almanac/properties/b/box-shadow/
 */

body {
    background-color: #110962;
}

.header {
    background-color: #348397;
}

button {
    border-radius: 100px;
    background-color: #348397;
    color: #dbe8ec;
    border: 3px solid #348397;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

button:hover {
    background-color: #dbe8ec;

    font-weight: bolder;
    color: #348397;
    transition: 0.3s;
}

.card {
    background-color: #dbe8ec;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
    border-radius: 30px;
}

input {
    background-color: #dbe8ec;
    border-radius: 100px;
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px solid #110962;
}

a {
    color: #348397;
    text-decoration: underline;
    cursor: pointer;
}


/*
    Login/Register
*/

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container > .card {
    display: flex;
    justify-content: center;
}

.login-form {
    margin: 3rem 2rem;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    align-content: center;
    text-align: center;
}

.login-form > h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.input-label {
    padding-left: 0.5rem;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.2rem;
}

.login-form-divider {
    background-color: #110962;
    height: 0.2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-form-divider > p {
    background-color: #dbe8ec;
    font-size: 2rem;
    padding: 0 1rem;
}

/*
    Admin/Analytics
*/

.admin-body {
    background-color: #dbe8ec;
}

.flex-admin-container {
    display: flex;
    height: 100vh;
    overflow: auto;
}

.admin-side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 8rem;
    box-shadow: 3px 0 10px rgb(0 0 0 / 0.7);
    position: fixed;
    background-color: #110962;
}

.admin-analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 3rem 20rem;
}



.admin-analytics > .card{
   border: 0.5rem solid #110962;
    margin: 3rem 0;

}

.user-analytics {
    width: 1500px;
    aspect-ratio: 3/1;
    margin: 1rem;
}

.transaction-analytics {
    width: 1500px;
    aspect-ratio: 3/1;
    margin: 1rem;
}

@media (max-width: 1000px) {
    .login-form{
        width: 100vw;
        height: 100vh;
        margin: 2rem;
    }
}




